@use "../abstracts/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $very-dark-blue;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}