@use "../abstracts/variables" as *;

.card {
    &-heading {
        font-family: $inter;
        font-size: 1.75em;
        color: $white;
    }
    &-heading-highlight {
        color: $soft-violet;
    }
}