@use "../abstracts/variables" as *;

.card {
    &-heading,
    &-desc {
        font-family: $inter;
        color: $white;
    }
    &-heading {
        font-size: 1.75em;  
        font-weight: 700;      
        &-highlight {
            color: $soft-violet;
        }
    }
    &-desc {
        font-size: 0.95em;
        font-weight: 400;
    }
}