@use "../abstracts/variables" as *;

.card,
.card-img {
    max-width: 327px;
}

.card {
    background: $dark-desaturated-blue;
    box-shadow: 0px 20px 20px -10px hsla(233, 28%, 13%, 0.2);
    border-radius: 8px;
    &-img {
        height: 240px;
        border-radius: 8px 8px 0 0;
        background-image: url(../../images/image-header-mobile.jpg);
        background-color: $soft-violet;
        background-blend-mode: multiply;
        background-repeat: round;
    }
}